<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Cover
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <h3>This is my </h3>
    <h1>BOOK COVER,</h1>
    <h3> it is currently just text. Someday it has hopes of being a beautifully illustrated masterpiece. For now, it will settle for this placeholder.</h3>
    <ion-buttons [routerDirection]="'root'" [routerLink]="['/toc']">
        <img src="assets/icon/bookicon.png" />
    </ion-buttons>
</ion-content>